html
{
	background-image: url("images/bg.jpg");
	background-attachment: fixed;
	background-repeat : no-repeat;
	background-size : cover;
}

header
{
	margin-bottom: 25px;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	font-size: 2em;
}

#home
{
	margin: 5px;
	position: absolute;
	right: 0px;
	top: 0px;
}

#quote
{
	text-align: right;
	position: absolute;
	right: 25px;
	top: 100px;
}

a
{
	text-decoration: none;
	color: black;
}

#summary
{
	border: 3px rgb(170,170,170) double;
	border-radius: 5px;
	padding: 0px;
	margin: 0px;
	list-style: none;
	height: 60px;
	padding-left: 20px;
}

#summary ul
{
	margin : 0px;
	padding: 0px;
	list-style: none;
}

#summary li
{
	padding-right: 9%;
	display: inline-block;
	font-size: 1.3em;
	font-family: Georgia, serif;
}

#summary ul li
{
	display: inherit;
	font-size: 0.8em;
	padding: 0px;
	margin: 0px;
	margin-left: 0px;
}

#summary ul
{
	position: absolute;
	left: -999em;
	text-align: left;
	z-index: 1000;
}

#summary li:hover ul
{
	left: auto;
	background-color : rgba(255,255,255,0.5);
}

#side
{
	width: 11%;
	height: 250px;
	float: left;
	border: 3px rgb(170,170,170) double;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

section
{
	float: right;
	width: 85%;
}

article, footer
{
	border: 3px rgb(170,170,170) double;
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
	text-align: justify;
}

article a
{
	text-decoration : underline;
}

footer
{
	width: 100%;
	float: bottom;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

footer div
{
	display: inline-block;
	margin-right: 15%;
	float : left;
}

#logogrp
{
	display: inline-block;
	margin-right: 0%;
	float : right;
}

#summary, article, footer, #side
{
	background-color: rgba(255,255,255,0.5);
}

#scores, td
{
	width: 400px;
	padding: 0px;
	margin: 0px;
}

